/* ==============================================
Base Elements Styles
===============================================*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    background:hsl(204, 43%, 93%);
}
.main-header p {
    margin-bottom: 0;
    color: hsl(218, 22%, 67%);
}
h1 {
    color: hsl(179, 62%, 43%);
}
h2 {
    color: #ffffff;
    margin-top: 0;
}
h3 {
    color: hsl(71, 73%, 54%);
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li {
    line-height: 1.5;
    color: #dddddd;
}
a {
    text-decoration: none;
}
.primary p,
.hang {
    color: #dddddd;
}
/* ==============================================
Base Layouts Styles
===============================================*/
/* Navigation Elements */

/* Layout Containers */

.container {
    max-width: 1440px;
    margin: 20px 15px;
    border-radius: 10px;
}
.main-header,
.primary,
.secondary {
    padding: 15px 15px;
}
.primary,
.secondary {
    color: #ffffff;
}
.main-header {
    background: #ffffff;
}
.primary {
    background: hsl(179, 62%, 43%);
}
.secondary {
    background: #4abebd;
}

/* ==============================================
Page Elements Layouts
===============================================*/
.amt {
    font-size: 2em;
    font-weight: 700;
    color: #ffffff;
    padding-right: 10px;
}
.button {
    color: #ffffff;
    background: hsl(71, 73%, 54%);
    padding: 10px 0px;
    border-radius: 5px;
    display: inline-block;
    width: 240px;
    text-align: center;
}
.hang {
    display: flex;
    align-items: center;
}


/* ==============================================
Media Queries
===============================================*/
/* @media (min-width:678px) {

    .container {
        display: flex;
    }    
    .container {
        flex-wrap: wrap;
        width: 50%;
        margin: auto;
    }
    .main-header {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .primary,
    .secondary {
        width: 50%;  
    }
    .primary {
        border-bottom-left-radius:5px ;
    }
    .secondary {
        border-bottom-right-radius: 5px;
    }

} */